################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projeto-Topicos-Seguran-a/v17
/.vs/Projeto TS/v17
/.vs/TopicosSeguranca/FileContentIndex
/.vs/TopicosSeguranca/FileContentIndex/11164496-c506-4be2-8276-24aa24b1f7de.vsidx
/.vs/TopicosSeguranca/FileContentIndex/2181684d-c123-4eb7-95c8-0642f23287ef.vsidx
/.vs/TopicosSeguranca/FileContentIndex/25b05406-1f3e-46e2-a578-336242f5e4fe.vsidx
/.vs/TopicosSeguranca/FileContentIndex/c147552d-c80e-4dbe-883f-117f337c2ef7.vsidx
