################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projeto-Topicos-Seguran-a/v17
/.vs/Projeto TS/v17
/.vs/TopicosSeguranca/FileContentIndex/27daeb35-06ce-4a45-8fad-3e96efd0a8ba.vsidx
/.vs/TopicosSeguranca/FileContentIndex/8148b8ed-38a6-4bfa-af2e-9fcf36dd7c9d.vsidx
/.vs/TopicosSeguranca/FileContentIndex/128e239e-46cf-475a-8a00-d9cdfd45730d.vsidx
/.vs/TopicosSeguranca/FileContentIndex/2c2eb319-efd3-404c-9249-bdf95bab377e.vsidx
/.vs/TopicosSeguranca/FileContentIndex/c1d2616c-1c5d-47ee-840a-e7aee85dc832.vsidx
